@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common
@inject MessageBoard.Models.WebConfig _webConfig
@model MessageBoard.ViewModels.Guestbooks.Index
@{
    var rowIndex = 0;
    var canEditOrDelete = false;
    var canReply = false;
}

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                建立人員
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataList.First().CreateTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DataList.First().Content)
            </th>
            <th scope="col">
                回覆人員
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DataList.First().Reply)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DataList.First().ReplyTime)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DataList)
        {
            rowIndex++;
            canEditOrDelete = item.CreatorId == ViewBag.UserId;
            canReply = !canEditOrDelete;
            <tr>
                <th scope="row">@rowIndex</th>
                <td>
                    @item.Creator.Name
                </td>
                <td>
                    <div class="dayjs">
                        @item.CreateTime.ToString(_webConfig.DateTimeFormat.DateTime)
                    </div>
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.Replier?.Name
                </td>
                <td>
                    @item.Reply
                </td>
                <td>
                    <div class="dayjs">
                        @item.ReplyTime?.ToString(_webConfig.DateTimeFormat.DateTime)
                    </div>
                </td>
                <td>
                    @if (canEditOrDelete)
                    {
                        <a type="button" class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">修改留言</a>
                    }
                    @if (canReply)
                    {
                        <a type="button" class="btn btn-secondary btn-sm" asp-action="Reply" asp-route-id="@item.Id">回覆留言</a>
                    }
                    @if (canEditOrDelete)
                    {
                        <a type="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">刪除留言</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model.DataList, page => Url.Action("Index", new { page, search = Model.Search }), new PagedListRenderOptions
{
    PageClasses = new string[] { "page-link" },
    UlElementClasses = new string[] { "pagination" },
    LiElementClasses = new string[] { "page-item" },
    DisplayPageCountAndCurrentLocation = true,
    PageCountAndCurrentLocationFormat = _webConfig.Pagination.PageCountAndCurrentLocationFormat
})