@model List<Guestbook>

@{
    ViewBag.Title = "Index";
    var rowIndex = 0;
}

<div id="CreateData">
    <partial name="_Create" model="new MessageBoard.ViewModels.Guestbooks.Create()" />
</div>

<h2>留言板</h2>
@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CreateTime)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.First().Content)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.First().Reply)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.First().ReplyTime)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                rowIndex++;
                <tr>
                    <th scope="row">@rowIndex</th>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.CreateTime
                    </td>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        @item.Reply
                    </td>
                    <td>
                        @item.ReplyTime
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">修改留言</a>
                        <a type="button" class="btn btn-secondary btn-sm" asp-action="Reply" asp-route-id="@item.Id">回覆留言</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger" role="alert">
        資料庫內查無資料
    </div>
}
<a id="result"></a>

@section Style {
    <link rel="stylesheet" href="~/lib/toastr/build/toastr.min.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script src="~/lib/toastr/build/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#CreateForm').ajaxForm({
                error: function (xhr, textStatus, errorThrown) {
                    toastr.error(xhr.responseJSON.detail);
                    console.log("in ajaxForm error");
                },
                success: function (data, textStatus, jqXHR) {
                    location = "#result";
                    location.reload(true);
                }
            });
        });
    </script>
    @Html.Raw(MessageBoard.Helpers.NotificationsHelper.RenderNotifications())
}